{% extends 'layout.twig' %}
{% block additionalCSS %}
{% endblock %}
{% block content %}
{% if responseMessage != '' %}
<div class="alert alert-info" role="alert">
    {{ responseMessage }}
</div>
{% endif %}
<!--main-content-->
<h1>Posts' List</h1>
<div class="btn-group pull-left">
    <a href="/php-starter-test/logout" type='button' class="btn btn-warning"><span class="glyphicon glyphicon-back"></span>Logout</a>
</div>
<div class="btn-group pull-right">
    <button type='button' class="btn btn-info" data-toggle="modal" data-target="#addPost"><span class="glyphicon glyphicon-plus"></span>Add post</button>
</div>
<br>
<br>
<div class="table-responsive">
    <table id="posts" class="display">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Time created</th>
                <th>Time updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts.data %}
            <tr>
                <td id="{{post.id}}">{{post.id}}</td>
                <td id="title{{post.id}}">{{post.document.title}}</td>
                <td id="desc{{post.id}}">{{post.document.description}}</td>
                <td id="tcr{{post.id}}">{{post.time_created}}</td>
                <td id="tud{{post.id}}">{{post.time_updated}}</td>
                <td>
                    <button class="btn btn-default edPost" title="Update post" type="button" value="{{post.id}}" data-toggle="modal" data-target="#updatePost"><i class="glyphicon glyphicon-edit"></i></button>
                    <button href="#" class="btn btn-default delPost" title="Delete post" value="{{post.id}}" data-toggle="modal" data-target="#deletePost"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'posts/modals/addPost.twig' %}
    {% include 'posts/modals/updatePost.twig' %}
    {% include 'posts/modals/deletePost.twig' %}
    {% endblock %}
    {% block additionalScripts %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#posts').DataTable();

        $(document).on('click', '.edPost', function() {
            var id = $(this).val();
            var title = $("#title" + id).text();
            var desc = $("#desc" + id).text();
            var tcr = $("#tcr" + id).text();
            var tud = $("#tud" + id).text();
            $('#updatePost').modal('show');
            $('#idPost').val(id);
            $('#titlePost').val(title);
            $('#descriptionPost').val(desc);
        });

        $(document).on('click', '.delPost', function() {
            var id = $(this).val();
            $('#deletePost').modal('show');
            $('#idPostDel').val(id);
        });
    });
    </script>
    {% endblock %}